<h1>Request a new Loan</h1>
<form class="input_form" action="/loan/new" method="post">
  <label>Amount</label>
  <input type="text" name="amount" value="" required="Must be filled out">
  <label>Term (in months)</label>
  <input type="text" name="term" value="" required="Must be filled out">
  <label>Description</label>
  <input type="text" name="description" value="" required="Must be filled out">
  <button type="submit">Submit</button>
</form>
<a href="/">Home</a>
