<h1>Log in!!</h1>
<form class="input_form" action="/session" method="post">
  <label>email</label>
  <input type="text" name="email" value=""><br><br>
  <label>password</label>
  <input type="password" name="password" value=""><br><br>
  <button class="btn">Log in</button>
</form><br>

<a href="/">Home</a>
