<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h1>Loans: </h1>
<ul>
  <% @loans.each do |loan| %>
    <li class="items"><a href="/loan/<%= loan.id %>"><%= loan.description %></a></li>
  <% end %>
</ul>
<button class='btn'><a href="/loan/new">Request a Loan!!</a></button><br>
